.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f3f6fa;
  text-align: center;
  padding: 0 16px;
}

.body-title {
  font-size: 1.875rem; /* 3xl approx */
  font-weight: bold;
  color: #1b1c1e;
  margin-bottom: 1rem;
}

.body-text {
  font-size: 1.125rem; /* lg approx */
  color: #555555;
}
